Package: pi-bootstrap
Version: 0.0.3
Maintainer: Ryan Kurte <ryankurte@gmail.com>
Homepage: https://github.com/ryankurte/pi-bootstrap
Architecture: all
Description: A simple bootstrapping service for RPi
  Checks for and runs the script located in /boot/bootstrap.sh
  on startup after networking is available.

