Package: pi-bootstrap
Version: 0.0.3
Maintainer: Ryan Kurte <ryankurte@gmail.com>
Homepage: https://github.com/ryankurte/pi-bootstrap
Architecture: all
Section: admin
Priority: optional
Description: Simple bootstrapping service for RPi
 This checks for and runs a script located in /boot/bootstrap.sh
 on startup after networking is available.

